/* (c) Copyright Frontify Ltd., all rights reserved. */

.container {
    display: flex;
    color: black;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.containerMap {
    width: 100%;
    height: 500px;
}

.input {
    padding: 10px;
    width: 100%;
    height: 500px;
}

.infoWindow {
    color: #000000;
    padding: 0 8px;
}
