@supports not (aspect-ratio: auto) {
    .mapContainerOuter {
        width: 100%;
        position: relative;
        height: 0;
    }

    .mapContainerOuter16to9 {
        padding-bottom: calc((100% / 16) * 9);
    }

    .mapContainerOuter4to3 {
        padding-bottom: calc((100% / 4) * 3);
    }

    .mapContainerOuter1to1 {
        padding-bottom: 100%;
    }
}

@supports not (aspect-ratio: auto) {
    .mapContainerInner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@supports (aspect-ratio: auto) {
    .mapContainerInner16to9 {
        aspect-ratio: 16 / 9;
    }

    .mapContainerInner4to3 {
        aspect-ratio: 4 / 3;
    }

    .mapContainerInner1to1 {
        aspect-ratio: 1 / 1;
    }
}

.mapContainerCustom {
    height: 100%;
}

.infoWindow {
    color: #000000;
    padding: 0 8px;
}

.textareaContainer textarea {
    padding-top: 9px;
    padding-bottom: 9px;
}
